/* BANNERS ***********************************************************************************/
.card-bk {
  background-image: url(../img/card-bk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg1 {
  background-image: url(../img/bk-fin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg2 {
  background-image: url(../img/bk-fin2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg3 {
  background-image: url(../img/bk-fin3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg4 {
  background-image: url(../img/bk-fin4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg-bar {
  background-image: url(../img/btn-bk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner1 {
  background-image: url(../img/wall-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner2 {
  background-image: url(../img/content-wl2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner3 {
  background-image: url(../img/content-wl3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner4 {
  background-image: url(../img/content-wl4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner5 {
  background-image: url(../img/content-wl5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner6 {
  background-image: url(../img/content-wl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner7 {
  background-image: url(../img/wll-mini-cont.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner8 {
  background-image: url(../img/wll-mini-cont2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner9 {
  background-image: url(../img/wall3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner10 {
  background-image: url(../img/wall4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner11 {
  background-image: url(../img/wall5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner12 {
  background-image: url(../img/wall2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner13 {
  background-image: url(../img/wall4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

/*********************************************************************************************/