.formulario {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #111;
    padding: 30px;

    label {
        width: 100%;
        padding: 10px;
        font-size: 15px;
    }

    input {
        width: 50%;
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
        background-color: #111;
        border: 1px solid greenyellow;
        color: white;
    }
    
    input:hover {
        box-shadow: 0px 0px 20px greenyellow;
        color: greenyellow;
    }

    textarea {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
        background-color: #111;
        border: 1px solid greenyellow;
        color: white;
    }

    textarea:hover {
        box-shadow: 0px 0px 20px greenyellow;
        color: greenyellow;
    }
}

.form-contenedor {
    padding: 10px;
    width: 100%;
}

.form-btn {
    gap: 5%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    input {
        width: 30%;
        height: auto;
    }
}

form {
    width: 100%;
    
}
