.finbtn {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: black;
  padding: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
  
}

.finbtn:hover {
  background-color: black;
  color: greenyellow;
  padding: 15px;
}

.logo2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.finbtn2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: black;
  padding: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.finbtn2:hover {
  background-color: black;
  color: greenyellow;
  padding: 15px;
}