/* ESCRITORIO ********************************************************************************/
@media screen and (min-width: 550px) {
    #id-footer {
        display: block;
    }

    #footer-and {
        display: none;
    }

    .contenedor-mob {
        display: none;
    }

    .botonera-caj {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        border: 0px;
    }
    
    .btn-fin-aco {
        color: black;
    }

    .botonera-caj .btn {
        width: 100%;
        height: auto;
        border: 1px solid greenyellow;
        padding: 10px;
        color: greenyellow;
        background-color: greenyellow;
    }

    .botonera-caj .btn:hover {
        box-shadow: 0px 0px 20px greenyellow;
        width: 100%;
        border: 1px solid greenyellow;
        padding: 10px;
        background-color: greenyellow;
    }

    .card-fin {
        width: 100%;
        height: auto;
        border-left: 1px solid greenyellow;
        border-right: 1px solid greenyellow;
        border-bottom: 1px solid greenyellow;
        color: greenyellow;
    }

    .parrafo-3 {
        /*font-family: 'Cute Font', cursive;*/
        padding: 30px;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        color: white;
        background-color: #111;
        margin: 0;
    }
    
    .parrafo-3 a {
        padding: 5px;
        font-family: 'Oswald', sans-serif;
        font-size: 10px;
        flex-flow: row wrap;
        color: greenyellow;
        background-color: #111;
        margin: 0;
    }

    .parrafo-4 {
        /*font-family: 'Cute Font', cursive;*/
        padding: 10px;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        color: white;
        background-color: #111;
        margin: 0;
        a {
            color: greenyellow;
        }
        a:hover {
            text-shadow: 0px 0px 20px greenyellow;
            color: greenyellow;
        }

    }

    .metodo-pagos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-line-pack: center;
            align-content: center;
        border: 1px solid greenyellow;
        -webkit-box-shadow: 0px 0px 20px greenyellow;
                box-shadow: 0px 0px 20px greenyellow;
        border-radius: 10px;
        gap: 1%;
        width: 80%;
    }

    .content2 {
        position: relative;
    }
    
    .content2 p {
        color: #fff;
        font-size: 8em;
        position: absolute;
        transform: translate(-50%, -50%);
        position: absolute;
        margin-top: -34%;
        left: 50%;
        box-shadow: 0px 0px 20px greenyellow;
        border: 1px solid greenyellow;
    }
    
    .content2 p:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px greenyellow;
        position: absolute;
        margin-top: -34%;
        left: 50%;
        background-color: black;
        padding: 40px;
        font-family: 'Bebas Neue', cursive;
        box-shadow: 0px 0px 20px greenyellow;
        border: 1px solid greenyellow;
    }
    
    .content2 p:nth-child(2) {
        color: greenyellow;
        animation: animate 4s ease-in-out infinite;
        background-color: black;
        padding: 40px;
        font-family: 'Bebas Neue', cursive;
        margin-top: -34%;
        left: 50%;
        box-shadow: 0px 0px 20px greenyellow;
        border: 1px solid greenyellow;
    }
    
    @keyframes animate {
        0%,
        100% {
            clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
            );
        }
    
        50% {
            clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
            );
        }
    }

    .logo {
        margin-left: 2%;
    }

    .contenedor-central {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 100%;
        height: auto;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }
    
    .redes {
        font-family: 'Bebas Neue', cursive;
        color: greenyellow;
        font-size: 25px;
        background-color: greenyellow;
        display: flex;
        box-shadow: 0px 0px 10px greenyellow;
        height: 16%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        p {
            margin-top: 8%;
            color: greenyellow;
        }
        p:hover {
            margin-top: 8%;
            text-shadow: 0px 0px 10px greenyellow;
        }
        img {
            padding: 0px;
        }
    }
    
    .redes2 {
        justify-content: space-around;
        align-items: center;
        align-content: center;
        background-color: black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 0px 0px 10px greenyellow;
                box-shadow: 0px 0px 10px greenyellow;
        height: 60px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .parrafo-port {
        padding: 10px;
        font-size: 15px;
        color: white;
    }

    .navegador-tit {
        background-color: black;
        box-shadow: 0px 0px 10px greenyellow;
        height: 6%;
        width: 100%;
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        padding: 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        p:hover {
            color: greenyellow;
            transition: all 1s;
        }
        cursor: pointer;
    }

    .alert2 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        --bs-alert-bg: transparent;
        --bs-alert-padding-x: 1rem;
        --bs-alert-padding-y: 1rem;
        --bs-alert-margin-bottom: 0rem;
        --bs-alert-color: inherit;
        --bs-alert-border-color: transparent;
        --bs-alert-border: 1px solid var(--bs-alert-border-color);
        --bs-alert-border-radius: 0.375rem;
        position: relative;
        padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
        margin-bottom: var(--bs-alert-margin-bottom);
        color: var(--bs-alert-color);
        background-color: var(--bs-alert-bg);
        border: var(--bs-alert-border);
        border-radius: var(--bs-alert-border-radius,0);
        p {
            margin-bottom: 0rem;
        }
    }

    .headertopnav1 {
        background-image:url(./img/header.png);
        box-shadow: 0px 20px 20px greenyellow; 
        height: auto;
        width: 100%;
    
    }

    .contenedor-central {
        .contenedor-img{ 
            a {
                color: greenyellow;
                border: 1px solid greenyellow;
                padding: 10px;
            }
            a:hover{
                color: black;
                background-color: greenyellow;
                box-shadow: 0px 0px 10px greenyellow;
            }
        }
    }
    
    .btn-ver {
        margin-top: 2%;
    }
    
}

/* ANDROID ******************************************************/
@media screen and (max-width: 550px) {
    #id-footer {
        display: none;
    }

    #port-cajonx2 {
        display: none;
    }

    #footer-and {
        display: block;
    }

    #promociones {
        display: none;
    }

    #promo {
        display: none;
    }
    
    #promociones-tit {
        display: none;
    }

    .contenedor-desk {
        display: none;
    }

    .contenedor-mob {
        width: 100%;
        display: block;
    }

    #offcanvasExample {
        width: 100% ;
    }

    .botonera-caj {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .btn:hover {
        color: greenyellow;
        border: 1px solid greenyellow;
    }

    .btn-fin-aco {
        color: black;
    }

    .btn {

        width: 100%;
        border: 1px solid greenyellow;
    }

    .card-fin {
        width: 100%;
        height: auto;
        border: 1px solid greenyellow;
        color: greenyellow;
    }
    .parrafo-3 {
        /*font-family: 'Cute Font', cursive;*/
        padding: 26px;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        color: white;
        background-color: #111;
        margin: 0;
    }
    
    .parrafo-3 a {
        padding: 5px;
        font-family: 'Oswald', sans-serif;
        font-size: 8px;
        flex-flow: row wrap;
        color: #adff2f;
        background-color: #111;
        margin: 0;
    }

    .parrafo-4 {
        /*font-family: 'Cute Font', cursive;*/
        padding: 10px;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        color: white;
        background-color: #111;
        margin: 0;
        a {
            color: greenyellow;
        }
        a:hover {
            text-shadow: 0px 0px 20px greenyellow;
            color: greenyellow;
        }

    }
    
    .metodo-pagos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-line-pack: center;
            align-content: center;
        border: 1px solid greenyellow;
        -webkit-box-shadow: 0px 0px 20px greenyellow;
                box-shadow: 0px 0px 20px greenyellow;
        border-radius: 10px;
        gap: 1%;
        width: 100%;
        margin-left: 5%;
      }

      .content2 {
        position: relative;
    }
    
    .content2 p {
        color: #fff;
        font-size: 60px;
        position: absolute;
        transform: translate(-50%, -50%);
        position: absolute;
        margin-top: -115%;
        left: 50%;
        box-shadow: 0px 0px 20px greenyellow;
        border: 1px solid greenyellow;
        background-color: greenyellow;
    }
    
    .content2 p:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px greenyellow;
        position: absolute;
        margin-top: -105%;
        left: 50%;
        background-color: black;
        padding: 40px;
        font-family: 'Bebas Neue', cursive;
        box-shadow: 0px 0px 20px greenyellow;
        border: 1px solid greenyellow;
    }
    
    .content2 p:nth-child(2) {
        color: greenyellow;
        animation: animate 4s ease-in-out infinite;
        background-color: black;
        padding: 40px;
        font-family: 'Bebas Neue', cursive;
        margin-top: -105%;
        left: 50%;
        box-shadow: 0px 0px 20px greenyellow;
        border: 1px solid greenyellow;
    }
    
    @keyframes animate {
        0%,
        100% {
            clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
            );
        }
    
        50% {
            clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
            );
        }
    }

    .logo {
        margin-left: 8%;
    }

    .contenedor-central {
        width: 100%;
        height: auto;
        color: white;
        font-family: 'Bebas Neue', cursive;
        
    }

    .contenedor-img {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 1px solid greenyellow;
        padding: 20px;
        background-color: #111;
        margin: 2%;
        font-family: 'Bebas Neue', cursive;
    }
    
    .parrafo-port {
        padding: 20px;
        font-size: 20px;
        color: white;
    }

    .contenedor-img img {
        margin-top: 20px;
    }

    .redes {
        font-family: 'Bebas Neue', cursive;
        color: greenyellow;
        font-size: 25px;
        background-color: greenyellow;
        display: flex;
        box-shadow: 0px 0px 10px greenyellow;
        height: 15.7%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        p {
            margin-top: 8%;
            color: greenyellow;
        }
        p:hover {
            margin-top: 8%;
            text-shadow: 0px 0px 10px greenyellow;
        }
        img {
            padding: 0px;
        }
    }

    .redes2 {
        justify-content: space-around;
        align-items: center;
        align-content: center;
        background-color: black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 0px 0px 10px greenyellow;
                box-shadow: 0px 0px 10px greenyellow;
        height: 60px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .navegador-tit {
        background-color: black;
        box-shadow: 0px 0px 10px greenyellow;
        height: 6%;
        width: 100%;
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        padding: 8px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        p:hover {
            color: #adff2f;
            transition: all 1s;
        }
        cursor: pointer;
    }

    .alert2 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        --bs-alert-bg: transparent;
        --bs-alert-padding-x: 1rem;
        --bs-alert-padding-y: 1rem;
        --bs-alert-margin-bottom: 0rem;
        --bs-alert-color: inherit;
        --bs-alert-border-color: transparent;
        --bs-alert-border: 1px solid var(--bs-alert-border-color);
        --bs-alert-border-radius: 0.375rem;
        position: relative;
        padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
        margin-bottom: var(--bs-alert-margin-bottom);
        color: var(--bs-alert-color);
        background-color: var(--bs-alert-bg);
        border: var(--bs-alert-border);
        border-radius: var(--bs-alert-border-radius,0);
        p {
            margin-bottom: 0rem;
        }
    }

    
.contenedor-central {
    .contenedor-img{ 
        a {
            color: greenyellow;
            border: 1px solid greenyellow;
            padding: 10px;
        }
        a:hover{
            color: black;
            background-color: greenyellow;
            box-shadow: 0px 0px 10px greenyellow;
        }
    }
}

.btn-ver {
    margin-top: 2%;
    width: 100%;
}
}