.populares {
    display: flex;
    background-color: black;
    flex-flow: row wrap;
    gap: 30px;
    color: white;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 50px;
}

.populares img {
    border: 1px solid greenyellow;
    box-shadow: 0px 0px 10px greenyellow;
}