.section-grey {
    width: 100%;
    background-color: #111;
    height: auto;
    color: greenyellow;
    font-family: 'Bebas Neue', cursive;
}

.section-grey-2 {
    width: 100%;
    background-color: #111;
    height: auto;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 20px;
}

.title-green{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #adff2f;
    color: black;
    padding: 20px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
}

.cont-title {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 100%;
}

.cont-contenido {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    color: white;
    padding: 20px;
}

.botonverde-contenedor-cont {
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    transition: all 1s;
}

.contenedor-parrafo {
    width: 100%;
    font-size: 30px;
    box-shadow: 0px 0px 20px greenyellow;
    padding: 30px;
    font-family: 'Bebas Neue', cursive;
}

.contenedor-img {
    border: 1px solid greenyellow;
    padding: 20px;
    background-color: #111;
    margin: 2%;
    font-family: 'Bebas Neue', cursive;
}

.p-btn {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    border: 1px solid greenyellow;
    padding: 10px;
    color: white;
}

.p-btn:hover {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    border: 1px solid greenyellow;
    color: black;
    box-shadow: 0px 0px 20px greenyellow;
    background-color: greenyellow;
}

.section-fotografia {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.section-fotografia img {
    width: 87%;
    height: auto;
    border: 1px solid greenyellow;
    border-radius: 50%;
    box-shadow: 0px 0px 20px greenyellow;
}

.tit-nove{
    font-size: 50px;
    margin-left: 1%;
    color: greenyellow;
}

.tit-mini {
    font-size: 22px;
    margin-left: 1%;
}

.tex-nove{
    font-size: 21px;
    margin-left: 1%;
    width: 100%;
}

.tex-nove2{
    font-size: 20px;
    margin-left: 1%;
}

.tex-nove3 {
    font-size: 21px;
    margin-left: 1%;
    width: 100%;
    color: greenyellow;
}


.hr1 {
    width: 80%;
    background-color: greenyellow;
    margin-left: 10%;
    opacity: 100%;
}

.card-port {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.cont-btn-contratar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

.btn-contratar {
    font-size: 30px;
    border: 1px solid greenyellow;
    color: black;
    background-color: greenyellow;
    padding: 10px;
    a:hover{
        color: black;
    }
}

.btn-contratar:hover{
    box-shadow: 0px 0px 20px greenyellow;
}

.form-pw-pres {
    padding: 10px;
    border: 1px solid greenyellow;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    color: white;
    input {
        padding: 10px;
        border: 1px solid greenyellow;
        color: black;
        border-radius: 5px;
        background-color: #111;
        color: white;
    }

    textarea{
        padding: 10px;
        background-color: #111;
        color: white;
    }

    .tex-presu {
        color: greenyellow;
        padding: 2px;
        margin-top: 2%;
        font-size: 20px;
    }

    .form-btn {
        input {
            background-color: greenyellow;
            color: black;
        }
        input:hover{
            box-shadow: 0px 0px 20px greenyellow;
        }
    }
}
 