* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;   
}

a:active {
    text-decoration: none;
    color: black;
}

.headertopnav1 {
    background-image:url(./img/header.png);
    box-shadow: 0px 20px 20px greenyellow; 
}

@import 'media';
@import 'effects';
@import 'banners';
@import 'topnav';
@import 'leftnav';
@import 'logo';
@import 'sections';
@import 'promociones';
@import 'footer';
@import 'modals';
@import 'popularesimg';
@import 'contacto';
@import 'notificaciones';
@import 'form';


