* {
  box-sizing: border-box;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

.headertopnav1 {
  background-image: url(./img/header.png);
  box-shadow: 0px 20px 20px #adff2f;
}

/* ESCRITORIO ********************************************************************************/
@media screen and (min-width: 550px) {
  #id-footer {
    display: block;
  }

  #footer-and {
    display: none;
  }

  .contenedor-mob {
    display: none;
  }

  .botonera-caj {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    border: 0px;
  }

  .btn-fin-aco {
    color: black;
  }

  .botonera-caj .btn {
    width: 100%;
    height: auto;
    border: 1px solid greenyellow;
    padding: 10px;
    color: greenyellow;
    background-color: greenyellow;
  }

  .botonera-caj .btn:hover {
    box-shadow: 0px 0px 20px greenyellow;
    width: 100%;
    border: 1px solid greenyellow;
    padding: 10px;
    background-color: greenyellow;
  }

  .card-fin {
    width: 100%;
    height: auto;
    border-left: 1px solid greenyellow;
    border-right: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
    color: greenyellow;
  }

  .parrafo-3 {
    /*font-family: 'Cute Font', cursive;*/
    padding: 30px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    color: white;
    background-color: #111;
    margin: 0;
  }

  .parrafo-3 a {
    padding: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    flex-flow: row wrap;
    color: greenyellow;
    background-color: #111;
    margin: 0;
  }

  .parrafo-4 {
    /*font-family: 'Cute Font', cursive;*/
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    color: white;
    background-color: #111;
    margin: 0;
  }
  .parrafo-4 a {
    color: greenyellow;
  }
  .parrafo-4 a:hover {
    text-shadow: 0px 0px 20px greenyellow;
    color: greenyellow;
  }

  .metodo-pagos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid greenyellow;
    box-shadow: 0px 0px 20px greenyellow;
    border-radius: 10px;
    gap: 1%;
    width: 80%;
  }

  .content2 {
    position: relative;
  }

  .content2 p {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: -34%;
    left: 50%;
    box-shadow: 0px 0px 20px greenyellow;
    border: 1px solid greenyellow;
  }

  .content2 p:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px greenyellow;
    position: absolute;
    margin-top: -34%;
    left: 50%;
    background-color: black;
    padding: 40px;
    font-family: "Bebas Neue", cursive;
    box-shadow: 0px 0px 20px greenyellow;
    border: 1px solid greenyellow;
  }

  .content2 p:nth-child(2) {
    color: greenyellow;
    -webkit-animation: animate 4s ease-in-out infinite;
            animation: animate 4s ease-in-out infinite;
    background-color: black;
    padding: 40px;
    font-family: "Bebas Neue", cursive;
    margin-top: -34%;
    left: 50%;
    box-shadow: 0px 0px 20px greenyellow;
    border: 1px solid greenyellow;
  }

  @-webkit-keyframes animate {
    0%, 100% {
      -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
      -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }

  @keyframes animate {
    0%, 100% {
      -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
      -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }
  .logo {
    margin-left: 2%;
  }

  .contenedor-central {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    color: white;
    font-family: "Bebas Neue", cursive;
  }

  .redes {
    font-family: "Bebas Neue", cursive;
    color: greenyellow;
    font-size: 25px;
    background-color: greenyellow;
    display: flex;
    box-shadow: 0px 0px 10px greenyellow;
    height: 16%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .redes p {
    margin-top: 8%;
    color: greenyellow;
  }
  .redes p:hover {
    margin-top: 8%;
    text-shadow: 0px 0px 10px greenyellow;
  }
  .redes img {
    padding: 0px;
  }

  .redes2 {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: black;
    display: flex;
    box-shadow: 0px 0px 10px greenyellow;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .parrafo-port {
    padding: 10px;
    font-size: 15px;
    color: white;
  }

  .navegador-tit {
    background-color: black;
    box-shadow: 0px 0px 10px greenyellow;
    height: 6%;
    width: 100%;
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    cursor: pointer;
  }
  .navegador-tit p:hover {
    color: greenyellow;
    transition: all 1s;
  }

  .alert2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 0rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius, 0);
  }
  .alert2 p {
    margin-bottom: 0rem;
  }

  .headertopnav1 {
    background-image: url(./img/header.png);
    box-shadow: 0px 20px 20px greenyellow;
    height: auto;
    width: 100%;
  }

  .contenedor-central .contenedor-img a {
    color: greenyellow;
    border: 1px solid greenyellow;
    padding: 10px;
  }
  .contenedor-central .contenedor-img a:hover {
    color: black;
    background-color: greenyellow;
    box-shadow: 0px 0px 10px greenyellow;
  }

  .btn-ver {
    margin-top: 2%;
  }
}
/* ANDROID ******************************************************/
@media screen and (max-width: 550px) {
  #id-footer {
    display: none;
  }

  #port-cajonx2 {
    display: none;
  }

  #footer-and {
    display: block;
  }

  #promociones {
    display: none;
  }

  #promo {
    display: none;
  }

  #promociones-tit {
    display: none;
  }

  .contenedor-desk {
    display: none;
  }

  .contenedor-mob {
    width: 100%;
    display: block;
  }

  #offcanvasExample {
    width: 100%;
  }

  .botonera-caj {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .btn:hover {
    color: greenyellow;
    border: 1px solid greenyellow;
  }

  .btn-fin-aco {
    color: black;
  }

  .btn {
    width: 100%;
    border: 1px solid greenyellow;
  }

  .card-fin {
    width: 100%;
    height: auto;
    border: 1px solid greenyellow;
    color: greenyellow;
  }

  .parrafo-3 {
    /*font-family: 'Cute Font', cursive;*/
    padding: 26px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    color: white;
    background-color: #111;
    margin: 0;
  }

  .parrafo-3 a {
    padding: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 8px;
    flex-flow: row wrap;
    color: #adff2f;
    background-color: #111;
    margin: 0;
  }

  .parrafo-4 {
    /*font-family: 'Cute Font', cursive;*/
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    color: white;
    background-color: #111;
    margin: 0;
  }
  .parrafo-4 a {
    color: greenyellow;
  }
  .parrafo-4 a:hover {
    text-shadow: 0px 0px 20px greenyellow;
    color: greenyellow;
  }

  .metodo-pagos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid greenyellow;
    box-shadow: 0px 0px 20px greenyellow;
    border-radius: 10px;
    gap: 1%;
    width: 100%;
    margin-left: 5%;
  }

  .content2 {
    position: relative;
  }

  .content2 p {
    color: #fff;
    font-size: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: -115%;
    left: 50%;
    box-shadow: 0px 0px 20px greenyellow;
    border: 1px solid greenyellow;
    background-color: greenyellow;
  }

  .content2 p:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px greenyellow;
    position: absolute;
    margin-top: -105%;
    left: 50%;
    background-color: black;
    padding: 40px;
    font-family: "Bebas Neue", cursive;
    box-shadow: 0px 0px 20px greenyellow;
    border: 1px solid greenyellow;
  }

  .content2 p:nth-child(2) {
    color: greenyellow;
    -webkit-animation: animate 4s ease-in-out infinite;
            animation: animate 4s ease-in-out infinite;
    background-color: black;
    padding: 40px;
    font-family: "Bebas Neue", cursive;
    margin-top: -105%;
    left: 50%;
    box-shadow: 0px 0px 20px greenyellow;
    border: 1px solid greenyellow;
  }

  @-webkit-keyframes animate {
    0%, 100% {
      -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
      -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }

  @keyframes animate {
    0%, 100% {
      -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
      -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }
  .logo {
    margin-left: 8%;
  }

  .contenedor-central {
    width: 100%;
    height: auto;
    color: white;
    font-family: "Bebas Neue", cursive;
  }

  .contenedor-img {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid greenyellow;
    padding: 20px;
    background-color: #111;
    margin: 2%;
    font-family: "Bebas Neue", cursive;
  }

  .parrafo-port {
    padding: 20px;
    font-size: 20px;
    color: white;
  }

  .contenedor-img img {
    margin-top: 20px;
  }

  .redes {
    font-family: "Bebas Neue", cursive;
    color: greenyellow;
    font-size: 25px;
    background-color: greenyellow;
    display: flex;
    box-shadow: 0px 0px 10px greenyellow;
    height: 15.7%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .redes p {
    margin-top: 8%;
    color: greenyellow;
  }
  .redes p:hover {
    margin-top: 8%;
    text-shadow: 0px 0px 10px greenyellow;
  }
  .redes img {
    padding: 0px;
  }

  .redes2 {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: black;
    display: flex;
    box-shadow: 0px 0px 10px greenyellow;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .navegador-tit {
    background-color: black;
    box-shadow: 0px 0px 10px greenyellow;
    height: 6%;
    width: 100%;
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    cursor: pointer;
  }
  .navegador-tit p:hover {
    color: #adff2f;
    transition: all 1s;
  }

  .alert2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 0rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius, 0);
  }
  .alert2 p {
    margin-bottom: 0rem;
  }

  .contenedor-central .contenedor-img a {
    color: greenyellow;
    border: 1px solid greenyellow;
    padding: 10px;
  }
  .contenedor-central .contenedor-img a:hover {
    color: black;
    background-color: greenyellow;
    box-shadow: 0px 0px 10px greenyellow;
  }

  .btn-ver {
    margin-top: 2%;
    width: 100%;
  }
}
body::-webkit-scrollbar {
  width: 7px;
  background-color: black;
  border-left: 1px solid greenyellow;
}

body::-webkit-scrollbar-thumb {
  background: greenyellow;
  border-radius: 5px;
  box-shadow: 0px 0px 40px greenyellow;
}

.borde-img {
  box-shadow: 0px 0px 20px greenyellow;
}

.borde-img-circular {
  box-shadow: 0px 0px 20px greenyellow;
  border-radius: 50%;
}

.scale {
  transform: scale(1, 1);
  margin: 0 auto;
}

.scale:hover {
  transform: scale(1.1, 1.1);
  transition: all 1s;
}

.scale2 {
  transform: scale(1, 1);
  margin: 0 auto;
}

.scale2:hover {
  transform: scale(2, 2);
  transition: all 1s;
}

/* BANNERS ***********************************************************************************/
.card-bk {
  background-image: url(../img/card-bk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg1 {
  background-image: url(../img/bk-fin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg2 {
  background-image: url(../img/bk-fin2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg3 {
  background-image: url(../img/bk-fin3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg4 {
  background-image: url(../img/bk-fin4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg-bar {
  background-image: url(../img/btn-bk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner1 {
  background-image: url(../img/wall-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner2 {
  background-image: url(../img/content-wl2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner3 {
  background-image: url(../img/content-wl3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner4 {
  background-image: url(../img/content-wl4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner5 {
  background-image: url(../img/content-wl5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner6 {
  background-image: url(../img/content-wl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner7 {
  background-image: url(../img/wll-mini-cont.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner8 {
  background-image: url(../img/wll-mini-cont2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner9 {
  background-image: url(../img/wall3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner10 {
  background-image: url(../img/wall4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner11 {
  background-image: url(../img/wall5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner12 {
  background-image: url(../img/wall2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.banner13 {
  background-image: url(../img/wall4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

/*********************************************************************************************/
.top-navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0px;
  text-align: center;
  transition: 0.5s;
  z-index: 999;
}

.top-navbar div div {
  list-style-type: none;
  display: inline-block;
  padding: 10px 50px;
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0px 0px 20px black;
}

.top-navbar div div:hover {
  background: black;
}

.boxxxx {
  width: 100%;
  height: 800px;
}

.offcanvas-header {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 20px greenyellow;
}

.offcanvas {
  box-shadow: 0px 0px 20px greenyellow;
}

.btn-top {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.left-btn {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
  margin-top: 5%;
  font-family: "Bebas Neue", cursive;
}
.left-btn a {
  font-size: 20px;
  color: white;
}
.left-btn a:hover {
  color: greenyellow;
  transition: all 1s;
}

.offcanvas.offcanvas-start {
  background-color: #111;
}

.menu-left-new {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 91%;
  gap: 4%;
  margin-top: 4%;
  height: auto;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 135%;
  margin-left: 17px;
  padding: 5px;
}
.menu-left-new a {
  color: white;
}
.menu-left-new a:hover {
  transition: all 1s;
  color: greenyellow;
}

/*
.menu-left-new:hover {
    transition: all 1s;
    box-shadow: 0px 0px 20px greenyellow;
    border: 1px solid greenyellow;
}
*/
.finbtn {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: black;
  padding: 15px;
  transition: all 1s;
}

.finbtn:hover {
  background-color: black;
  color: greenyellow;
  padding: 15px;
}

.logo2 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 30px;
}

.finbtn2 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: black;
  padding: 15px;
  transition: all 1s;
}

.finbtn2:hover {
  background-color: black;
  color: greenyellow;
  padding: 15px;
}

.section-grey {
  width: 100%;
  background-color: #111;
  height: auto;
  color: greenyellow;
  font-family: "Bebas Neue", cursive;
}

.section-grey-2 {
  width: 100%;
  background-color: #111;
  height: auto;
  color: white;
  font-family: "Bebas Neue", cursive;
  padding: 20px;
}

.title-green {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #adff2f;
  color: black;
  padding: 20px;
  margin: 0px;
  font-family: "Bebas Neue", cursive;
}

.cont-title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px;
  width: 100%;
}

.cont-contenido {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: white;
  padding: 20px;
}

.botonverde-contenedor-cont {
  font-family: "Bebas Neue", cursive;
  width: 100%;
  transition: all 1s;
}

.contenedor-parrafo {
  width: 100%;
  font-size: 30px;
  box-shadow: 0px 0px 20px greenyellow;
  padding: 30px;
  font-family: "Bebas Neue", cursive;
}

.contenedor-img {
  border: 1px solid greenyellow;
  padding: 20px;
  background-color: #111;
  margin: 2%;
  font-family: "Bebas Neue", cursive;
}

.p-btn {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  border: 1px solid greenyellow;
  padding: 10px;
  color: white;
}

.p-btn:hover {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  border: 1px solid greenyellow;
  color: black;
  box-shadow: 0px 0px 20px greenyellow;
  background-color: greenyellow;
}

.section-fotografia {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.section-fotografia img {
  width: 87%;
  height: auto;
  border: 1px solid greenyellow;
  border-radius: 50%;
  box-shadow: 0px 0px 20px greenyellow;
}

.tit-nove {
  font-size: 50px;
  margin-left: 1%;
  color: greenyellow;
}

.tit-mini {
  font-size: 22px;
  margin-left: 1%;
}

.tex-nove {
  font-size: 21px;
  margin-left: 1%;
}

.tex-nove2 {
  font-size: 20px;
  margin-left: 1%;
}

.hr1 {
  width: 80%;
  background-color: greenyellow;
  margin-left: 10%;
  opacity: 100%;
}

.card-port {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  gap: 70px;
}

.section-promo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  width: 130%;
  height: auto;
}

.conteiner-promociones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border: 1px solid greenyellow;
  border-radius: 10px;
  box-shadow: 0px 0px 20px greenyellow;
  width: 43%;
  padding: 20px;
}

.parrafo-promo {
  padding: 12px;
  font-size: 20px;
  flex-flow: row wrap;
  color: white;
}

.section {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  width: 100%;
}

.section-off {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

/* FOOTER DESKTOP ****************************************************************************/
/*********************************************************************************************/
.title-footer {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  text-align: left;
  padding: 12px;
}

.footer-img {
  gap: 10px;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.footer-cont {
  display: flex;
  flex-flow: column wrap;
  width: 2000px;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px 10px;
  margin-top: -2%;
}

.footer {
  background-color: greenyellow;
  height: 400px;
}

.footer-logo {
  font-family: "Bebas Neue", cursive;
  background-color: black;
  font-size: 50px;
  text-align: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  color: greenyellow;
}

.footer-logo a {
  color: greenyellow;
}

.parrafo-2 {
  /*font-family: 'Cute Font', cursive;*/
  padding: 12px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  flex-flow: row wrap;
  flex: 4;
  color: black;
}

.parrafo-promo {
  padding: 12px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  flex-flow: row wrap;
  flex: 4;
  color: white;
}

.footer-cont .parrafo-mob a:hover {
  color: greenyellow;
}

.contenedor-ext {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px 20px;
  justify-content: center;
  /* HORIZONTAL */
  align-items: center;
  align-content: center;
}

.footer-cont {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px 10px;
  margin-top: -2%;
}

/*********************************************************************************************/
/* MODALS ************************************************************************************/
/*********************************************************************************************/
.modal-contenedor {
  font-family: "Bebas Neue", cursive;
  border: 1px solid greenyellow;
  box-shadow: 0px 0px 10px greenyellow;
  background-color: black;
  color: greenyellow;
}

.modal-bg {
  background-color: black;
}

.modal-style {
  font-family: "Bebas Neue", cursive;
  background-color: black;
  color: white;
  border: 1px solid greenyellow;
  box-shadow: 0px 0px 10px greenyellow;
}

.btn-modal-close {
  width: 100%;
  height: auto;
  border: 1px solid greenyellow;
  background-color: black;
  color: white;
}

.btn-modal-close:hover {
  width: 100%;
  height: auto;
  border: 1px solid greenyellow;
  box-shadow: 0px 0px 10px greenyellow;
  background-color: greenyellow;
  color: black;
}

/******************************************************************************************************************/
.populares {
  display: flex;
  background-color: black;
  flex-flow: row wrap;
  gap: 30px;
  color: white;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 50px;
}

.populares img {
  border: 1px solid greenyellow;
  box-shadow: 0px 0px 10px greenyellow;
}

.contenedor-contacto {
  background-color: #111;
  color: greenyellow;
  box-shadow: 0px 0px 20px greenyellow;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contenedor-contacto .contacto-redes {
  margin-left: 6px;
}

.contenedor-contacto h1 {
  color: greenyellow;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  padding: 10px;
}

.contenedor-contacto p {
  color: white;
  font-size: 15px;
  font-family: "Bebas Neue", cursive;
  margin-left: 10px;
}

.contacto-minicont {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
}

.contacto-text {
  margin-top: 4px;
}

.contenedor-contacto .contacto-redes {
  margin-left: 6px;
}

.contacto-minicont {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
}

.contacto-text {
  margin-top: 4px;
}

form {
  width: 96%;
}

textarea {
  width: 100%;
}

.form-conte {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1%;
  font-family: "Bebas Neue", cursive;
}

.form-conte-input {
  width: 100%;
  font-family: "Bebas Neue", cursive;
}

.form-input {
  width: 100%;
  color: black;
  font-family: "Bebas Neue", cursive;
}

.form-boton {
  padding: 20px;
  width: 30%;
  height: auto;
  border: 1px solid greenyellow;
  background-color: #111;
  color: greenyellow;
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-boton:hover {
  box-shadow: 0px 0px 20px greenyellow;
  background-color: greenyellow;
  color: black;
}

.form-boton a {
  background-color: #111;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.form-boton a:hover {
  background-color: greenyellow;
  color: black;
  font-family: "Bebas Neue", cursive;
  box-shadow: 0px 0px 20px greenyellow;
}

.formulario-caj {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

input {
  width: 100%;
}

.cont-noti {
  background-color: red;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.cont-noti div button {
  color: white;
}

.formulario {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #111;
  padding: 30px;
}
.formulario label {
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
.formulario input {
  width: 50%;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #111;
  border: 1px solid greenyellow;
  color: white;
}
.formulario input:hover {
  box-shadow: 0px 0px 20px greenyellow;
  color: greenyellow;
}
.formulario textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #111;
  border: 1px solid greenyellow;
  color: white;
}
.formulario textarea:hover {
  box-shadow: 0px 0px 20px greenyellow;
  color: greenyellow;
}

.form-contenedor {
  padding: 10px;
  width: 100%;
}

.form-btn {
  gap: 5%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.form-btn input {
  width: 30%;
  height: auto;
}/*# sourceMappingURL=style.css.map */